/* Styling for the Create Showing button */
.tarkov-create-button {
  background-color: #228B22;  /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  margin: 5px auto;
  display: block;
}

/* Style for the create modal */
.create-modal {
  color: black;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

}

/* .create-modal-content {
  padding: 20px;
} */

.create-close-button {
  cursor: pointer;
}

